@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>
        Integritetspolicy<br>
        Webbplatsen sealismovies.azurewebsites.net ägs av SealisMovies, vilket är en personuppgiftsansvarig för dina personuppgifter.<br><br>

        Vi har antagit denna integritetspolicy, som bestämmer hur vi behandlar informationen som samlas in av sealismovies.azurewebsites.net, och ger även skälen till varför vi måste samla in vissa personuppgifter om dig. Därför måste du läsa denna integritetspolicy innan du använder webbplatsen sealismovies.azurewebsites.net.<br><br>

        Vi tar hand om dina personuppgifter och åtar oss att garantera dess konfidentialitet och säkerhet.<br><br>

        Personlig information vi samlar in:<br>
        När du besöker sealismovies.azurewebsites.net samlar vi automatiskt in viss information om din enhet, inklusive information om din webbläsare, IP-adress, tidszon och vissa av de installerade kakorna på din enhet. Dessutom samlar vi in information om de enskilda webbsidorna eller produkterna du tittar på, vilka webbplatser eller söktermer som hänvisade dig till webbplatsen och hur du interagerar med webbplatsen. Vi hänvisar till denna automatiskt insamlade information som "Enhetsinformation". Dessutom kan vi samla in de personuppgifter du lämnar till oss (inklusive men inte begränsat till namn, efternamn, adress, betalningsinformation, etc.) vid registrering för att kunna fullgöra avtalet.<br><br>

        Varför behandlar vi dina data?<br>
        Vår främsta prioritet är säkerheten för kunddata, och som sådan kan vi behandla endast minimala användardata, endast så mycket som är absolut nödvändigt för att upprätthålla webbplatsen. Informationen som samlas in automatiskt används endast för att identifiera potentiella missbruk och fastställa statistisk information om webbplatsens användning. Denna statistiska information samlas inte på något annat sätt som skulle kunna identifiera någon specifik användare av systemet.<br><br>

        Du kan besöka webbplatsen utan att berätta vem du är eller avslöja någon information, genom vilken någon skulle kunna identifiera dig som en specifik och identifierbar individ. Om du emellertid vill använda några av webbplatsens funktioner, eller om du vill ta emot vårt nyhetsbrev eller lämna andra detaljer genom att fylla i en formulär, kan du lämna personuppgifter till oss, såsom din e-postadress, förnamn, efternamn, stad, organisation, telefonnummer. Du kan välja att inte lämna oss dina personuppgifter, men då kan du inte dra nytta av vissa av webbplatsens funktioner. Till exempel kommer du inte att kunna ta emot vårt nyhetsbrev eller kontakta oss direkt från webbplatsen. Användare som är osäkra på vilken information som är obligatorisk är välkomna att kontakta oss via sealis@hotmail.com.<br><br>

        Dina rättigheter:<br />

        Om du är en europeisk invånare har du följande rättigheter relaterade till dina personuppgifter:<br />
        <ul>
            <li>Rätten att bli informerad.</li>
            <li>Rätten till tillgång.</li>
            <li>Rätten till rättelse.</li>
            <li>Rätten att bli raderad.</li>
            <li>Rätten att begränsa behandlingen.</li>
            <li>Rätten till dataportabilitet.</li>
            <li>Rätten att invända.</li>
            <li>Rättigheter i förhållande till automatiserat beslutsfattande och profilering.</li>
        </ul>

        Om du vill utöva dessa rättigheter, vänligen kontakta oss via kontaktinformationen nedan.<br><br>

        Dessutom, om du är en europeisk invånare, notera att vi behandlar din information för att fullgöra eventuella avtal vi kan ha med dig (till exempel om du gör en beställning genom webbplatsen) eller på annat sätt för att följa våra legitima affärsintressen som anges ovan. Observera också att din information kan överföras utanför Europa, inklusive Kanada och USA.<br><br>

        Länkar till andra webbplatser:<br>
        Vår webbplats kan innehålla länkar till andra webbplatser som inte ägs eller kontrolleras av oss. Var vänlig observera att vi inte ansvarar för sådana andra webbplatser eller tredje parts integritetspraxis. Vi uppmanar dig att vara medveten när du lämnar vår webbplats och läsa integritetspolicyn för varje webbplats som kan samla in personlig information.<br><br>

        Informationssäkerhet:<br>
        Vi säkrar informationen du lämnar på datorservrar i en kontrollerad och säker miljö, skyddad mot obehörig åtkomst, användning eller avslöjande. Vi vidtar rimliga administrativa, tekniska och fysiska åtgärder för att skydda mot obehörig åtkomst, användning, ändring och avslöjande av personuppgifter som är under vår kontroll och förvar. Men ingen dataöverföring över internet eller trådlöst nätverk kan garanteras.<br><br>

        Laglig offentliggörande:<br>
        Vi kommer att lämna ut all information vi samlar in, använder eller tar emot om det krävs eller tillåts enligt lag, till exempel för att följa en stämning eller liknande rättsligt förfarande och när vi i god tro anser att offentliggörande är nödvändigt för att skydda våra rättigheter, skydda din säkerhet eller säkerheten för andra, undersöka bedrägeri eller svara på en begäran från myndigheter.<br><br>

        Kontaktinformation:<br>
        Om du vill kontakta oss för att få mer information om denna policy eller om du har frågor angående individuella rättigheter och dina personuppgifter kan du skicka ett e-postmeddelande till sealis@hotmail.com.<br>
    </strong>
</p>
