@page
@model SealisMovies.Pages.UserProfileModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="cardColor text-center">
    <h1 class="display-4">Profil</h1>
    <p>Välj din egen profilbild!🖼️</p>
</div>
<br />
@*Här kan användaren ladda upp en profilbild som sparas till databasen kopplat till inloggad användares id*@
@if (!Model.UserProfilePictures.Any(p => p.UserId == "bdaebc49-ef46-40cc-b578-0ad6bed05094"))
{
    <h3>Lägg till en profilbild!</h3>
    <form class="frames" method="post" enctype="multipart/form-data">

        <label asp-for="ProfilePicture.Image" class="form-label"></label>
        <input type="file" class="form-control" name="UploadedImage">

        <br>

        <input type="submit" class="btn btn-success" value="Spara profilbild💾">

    </form>
}
<br />
@*Här visas nuvarande profilbild som användaren kan ta bort eller uppdatara genom att ladda upp och erstätta med ny profilbild*@
@if (Model.UserProfilePictures != null && Model.UserProfilePictures.Any())
{
    <h4>Nuvarande profilbild:</h4>
    <ul class="frames" style="list-style-type: none;">
        @foreach (var picture in Model.UserProfilePictures)
        {
            <li>
                <img src="~/img/@picture.Image" alt="Profile Picture" width="250" height="250" class="currentPic">
                <p></p>
                <form method="post" asp-page-handler="DeletePicture" asp-route-id="@picture.Id">
                    <button type="submit" class="btn btn-danger">Ta bort</button>
                </form>
                <form method="post" enctype="multipart/form-data" asp-page-handler="UpdatePicture" asp-route-id="@picture.Id">
                    <label asp-for="@Model.ProfilePicture.Image" class="form-label"></label>
                    <input type="file" class="form-control" name="UploadedImage">
                    <br>
                    <button type="submit" class="btn btn-primary">Uppdatera</button>
                </form>
            </li>
        }
    </ul>
}